<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.TextDao" >
  <resultMap id="BaseResultMap1" type="com.jk.provide.entity.MenuModel" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="iconCls" property="iconCls" jdbcType="VARCHAR" />
     <result column="url" property="url" jdbcType="VARCHAR" />
    </resultMap>
  
	<select id="queryMenu" resultMap="BaseResultMap1">
		SELECT 
		p.PERMISSION_ID as id ,p.PID as pid ,p.NAME as name ,p.ICONCLS as iconCls ,p.URL as url 
		FROM PERMISSION AS p 
		where p.STATUS='A' and p.TYPE='F' and p.ISUSED='Y'  
    </select>
    
   </mapper>